<div class="container-formulario">
  <h2>Adicionar Item à Lista de Desejos</h2>

  <form [formGroup]="formGroup" (ngSubmit)="salvarDesejo()">
    
    <div class="campo">
      <label for="nome">Nome do Produto:</label>
      <input type="text" id="nome" formControlName="nome" />
      <div *ngIf="formGroup.get('nome')?.invalid && formGroup.get('nome')?.touched" class="erro">
        O nome do produto é obrigatório.
      </div>
    </div>

    <div class="campo">
      <label for="prioridade">Prioridade:</label>
      <select id="prioridade" formControlName="prioridade">
        <option value="" disabled selected>Selecione uma opção</option>
        <option value="Baixa">Baixa</option>
        <option value="Média">Média</option>
        <option value="Alta">Alta</option>
      </select>
      <div *ngIf="formGroup.get('prioridade')?.invalid && formGroup.get('prioridade')?.touched" class="erro">
        Selecione uma prioridade.
      </div>
    </div>

    <button type="submit" [disabled]="formGroup.invalid">
      Adicionar Desejo
    </button>

  </form>
</div>